@*@model IEnumerable<AppUser>

<div class="jumbotron display-4">
    <div>
        <a asp-controller="user" asp-action="create">Create New User</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>

        </tr>
    </thead>
    <tbody>
        @foreach (AppUser item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td><a asp-controller="user" asp-action="userDetails" asp-route-id="@item.ID">Details</a></td>
                <td><a asp-controller="user" asp-action="update" asp-route-id="@item.ID">Edit</a></td>
                <td>
                    <form method="post" asp-action="Delete" asp-route-id="@item.ID">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>*@

